  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="accent"
    maxWidth="auto"
    proportion="25"
    slides="slides.length"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let slide of slides;  let l = count"
      [image]="slide.image"
      overlayColor="#00000000"
      [hideOverlay]="false"
    >
    <div class="Bottom-center">
        <p>
          <a [href]="slide.link" style="font-weight:bold">{{slide.text}}</a>
        </p>
    </div>
  </mat-carousel-slide>
  </mat-carousel>