<section id="team" class="pb-5">
    <div class="container">
        <h1 class="section-title h1">{{Team.TeamName}}</h1>
        <div *ngFor="let subteam of Team.SubTeams">
            <h2 class="section-title h2">{{subteam.SubTeamName}}</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let member of subteam.SubTeamMembers">
                        <app-card-profile 
                        [Name]="member.Name" 
                        [Role]="member.Role"
                        [Birthday]="member.Birthday"
                        [LinkedinLink]="member.LinkedinLink"
                        [FunFact]="member.FunFact"
                        [ProfileImage]="member.ProfileImage"
                        [Team]="member.Team"
                        (propagar)="procesaPropagar($event)"></app-card-profile>
                    </div>
                </div> 
        </div>
    </div>
</section>