
  <div class="container marketing animate__animated animate__fadeIn">
    <!-- Three columns of text below the carousel -->
    <div 
    class="row"
    @fadeIn
    >
    <div *ngFor="let header of Headers" class="col-lg-4">
      <!--rect width="100%" height="100%" fill="#777"/-->
      <img class="bd-placeholder-img rounded-circle" width="140" height="140" 
      [src]="header.image" class="center">
    <h2><b>{{header.title}}</b></h2>
    <p>{{header.Description}}</p>
    <p><a class="btn btn-secondary" [href]="header.ButtonLink" role="button">{{header.DescriptionButton}} &raquo;</a></p>
  </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">

    <div class="row featurette" >
      <div class="col-md-7">
        <h1 class="featurette-heading">¿Apunto de distrutar tus vacaciones?</h1>
        <br>
        <h2> ¡No olvides de cargar tus days-off antes de irte!</h2>
        <br>
        <h3 class="lead"> Presiona el botón para que te lleve al site de SIWA, cargues tus vacaciones antes de irte y no tengas problemas cuando vuelvas de ella 😉</h3>
        <br>
        <p><a class="btn btn-secondary" href="https://siwa.sa.ey.net/SITE/" role="button">Carga tus vacaciones aqui &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <rect width="100%" height="100%" fill="#eee"/>
          <image href="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/job11-pf-38b-195-202-203-204-216-274-292-296-chim-001.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=65&usm=15&vib=3&w=600&s=49f90c683a3a6b407246f5a355f72522" height="100%" width="100%" />
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h1 class="featurette-heading">Solicita el ingreso de Visa Home de tu tarjeta de Credito aqui</h1>
        <br>
        <h3 class="lead">
          Este ingreso te permitira entrar al sistema, bajar el estado de cuenta de tu tarjeta y justificarlo cuando te lo pidan. 
          <br>
          <br>
          Levanta un ticket en la siguiente Categoria: Finance and Payroll> GDS Argentina - Corporate Credit Card> Corporate Credit Card> Visa home access request/statements
          <br>
          <br>
          Deja un mensaje (puede ser en Español) solicitando el ingreso, junto a tu número de Tarjeta de Crédito.</h3>
          <p><a class="btn btn-secondary" href="https://gdnhelpdesk.ey.net/Errors/Error/SessionTimeOut?aspxerrorpath=/Home/Index" role="button">Ingresa aqui &raquo;</a></p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
          <rect width="100%" height="100%" fill="#eee"/>
          <image href="https://assets.towerbrook.com/wp-content/uploads/2019/02/22105705/fortiva-b-1000x1000.png" height="100%" width="100%" />
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>