<div class="image-flip">
    <div class="mainflip flip-0" >
        <div class="frontside" >
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" 
                        [src]="ProfileImage" alt="card image"></p>
                    <h2 class="card-title"><b>{{Name}}</b></h2>
                    <h3 class="card-text"><b>Role: </b>{{Role}}</h3>
                    <h4 class="card-text"><b>Cumpleaños: </b>{{Birthday}}</h4>
                </div>
            </div>
        </div>
        <div class="backside">
            <div class="card">
                <div class="card-body text-center mt-4">
                    <h2><b>Fun Fact:</b></h2>
                    <p style="text-align:justify;" class="card-text"> {{FunFact}}</p>
                        <!--ul>
                            <p class="card-text">
                                <li> 
                                    {{Hobbies[0]}}
                                </li>
                                <li *ngIf="Hobbies.length>1"> 
                                    {{Hobbies[1]}}
                                </li>
                                <br *ngIf="Hobbies.length==1"> 
                                <li *ngIf="Hobbies.length>2"> 
                                    {{Hobbies[2]}}
                                </li>
                                <br *ngIf="Hobbies.length==2"> 
                            </p>
                        </ul-->

                        <h1 *ngIf="LinkedinLink !=''">
                            <a class="social-icon text-xs-center" target="_blank" [href]="LinkedinLink">
                                <i class="fa fa-linkedin" style="font-size:28px"></i>
                            </a>
                        </h1>
                    <!-- <ul class="list-inline">
                        <li class="list-inline-item" *ngIf="RRSS[0] !=''">
                            <a class="social-icon text-xs-center" target="_blank" [href]="RRSS[0]">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" *ngIf="RRSS[1] !=''">
                            <a class="social-icon text-xs-center" target="_blank" [href]="RRSS[1]">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" *ngIf="RRSS[2] !=''">
                            <a class="social-icon text-xs-center" target="_blank" [href]="RRSS[2]">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul> -->
                    <br>
                    <button *ngIf="Team == 'Tax Technology and Transformation' " class="btn btn-primary" (click)="onPropagar(Team)">Volver a la pagina Anterior</button>
                    <button *ngIf="Team != 'Tax Technology and Transformation' && Team != 'NO'" class="btn btn-primary" (click)="onPropagar(Team)">Conoce al equipos de {{Team}}</button>
                </div>
            </div>
        </div>   
    </div>
</div>
